* {
    outline: 1px solid red;
}

body, button {
    /* Form elements will not inherit font details - setting defaults here */
    font-family: sans-serif;
    color: #E5E7EB;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.hero, .footer {
    display: flex;
    background-color: #1F2937;
}

.hero {
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    width: 66%;
}

.logo {
    font-size: 24px;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero .banner {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 66%;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 32px;
    padding-bottom: 64px;
    max-height: 200px;
}

.hero .text-box, .hero .image-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hero .maintext {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.sign-up {
    align-self: flex-start;
    background-color: #3882F6;
    border-radius: 4px;
    padding: 8px 24px;
    border: 0;
}

.hero img.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 96px;
    gap: 32px;
}

.content-info .maintext {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-box {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.image-box .info-text {
    color: #4a4b4b;
    text-align: center;
}

.content-info img.cover {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 8px;
}

.content-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 96px;
}

.quote-box {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content-quote .quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.content-quote .author {
    align-self: flex-end;
    color: #1F2937;
    font-weight: 800;
    font-size: 24px;
}

.content-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.colored-container {
    display: flex;
    flex-direction: row;
    width: 66%;
    background-color: #3882F6;
    border-radius: 4px;
    height: 100px;
}

.colored-container .left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
}

.colored-container .button-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colored-container .sign-up {
    border: 1px solid  white;
    align-self: center;
}